@import '../../utils/variables.scss';

%button {
  border: 1px solid transparent;
  border-radius: 3em;
  padding: 0.75em 4em;
  font-weight: 700;
  font-size: 1em;
  margin: 1em;

  &:hover {
    cursor: pointer;
  }

  &:focus {
    outline: 0;
  }
}

.cta {
  @extend %button;
  color: $white;
  background: $turquoise;
  border-color: $turquoise;

  &:hover {
    opacity: 0.85;
  }
}

.default {
  @extend %button;
  color: $black;
  background: $white;
  border-color: $black;

  &:hover {
    background: $light-gray;
    border-color: $light-gray;
  }
}
