@import '../utils/variables.scss';

.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
  background-color: $purple;
  background-image: $stash-gradient;
  display: flex;
  align-items: center;
  padding: 0 5%;
  height: 4.1em;
}

h1.logo {
  font-family: $logo-font;
}

.logo-link {
  text-decoration: none;
  color: #fff;
}

.nav-link {
  text-decoration: none;
  color: white;
  padding: 0.95em;
  margin-left: 1.8em;
  font-weight: 700;
  border-bottom: 0.16em solid transparent;
  font-size: 1.2em;
  opacity: 0.7;

  &:hover {
    opacity: 1;
  }
}

.active {
  border-bottom: 0.16em solid #F1B03D;
  opacity: 1;
}

.fa-heart {
  margin-right: 0.7em;
}
