$stash-gradient: linear-gradient(90deg, #6936ce, #5779d7);
$purple: #6338aa;
$turquoise: #32d7da;
$yellow: #fcae00;
$logo-font: 'Karla', Arial, sans-serif;
$main-font: 'Lato', Arial, sans-serif;
$bg-gray: #eff3f6;
$dark-gray: #9d9d9d;
$white: #fff;
$black: #393939;
$light-gray: #ddd;
