$stash-gradient: linear-gradient(90deg, #6936ce, #5779d7);
$purple: #6338aa;
$turquoise: #32d7da;
$logo-font: 'Karla', Arial, sans-serif;
$main-font: 'Lato', Arial, sans-serif;
$bg-gray: #eff3f6;
$dark-gray: #747474;
