@import './utils/variables.scss';

body {
  margin: 0;
  padding: 0;
  font-family: $main-font, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $bg-gray;
  color: $black;
}

.screen {
  width: 94%;
  max-width: 900px;
  margin: 7em auto 3em;
}
